<html>
    <head>
        <meta name="decorator" content="atl.admin" />
        $webResourceManager.requireResource("com.example.refapp-plugin:plugin-common")
        <title>Example Refapp Plugin</title>
    </head>
    <body>
        <div id="main-container">
        </div>
    </body>
</html>
