<html>
    <head>
        $webResourceManager.requireResource("com.example.refapp-plugin:plugin-common")
        <title>Example Refapp Plugin</title>

        <script type="text/javascript">
            AJS.$(Plugin.init);
        </script>

    </head>
    <body>
        <div id="main-container">
        </div>
    </body>
</html>
